.message{"data-message-id": ".{message.id}"}
  .chat-main__body--messages-list
    .chat-main__body--messages-list-name
      = message.user.name
    .chat-main__body--messages-list-time
      =  Time.now.to_s(:datetime)
    .chat-main__body--messages-list-body
      - if message.content.present?
        .chat-main__message-body-content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
