- @group.users.each do |user|
  .chat-group-user.clearfix
    %p.chat-group-user__name=user.name
    - unless user.id == current_user.id
      .user-search-remove.chat-group-user__btn.chat-group-user__btn--remove 削除