.chat-main{
  height: 100vh;
  width: calc( 100% - 300px );
   position: absolute;
   left: 300px;
  &__header{
    height: 117px;
    border: 1px solid #eee;
    &--group{
      margin: 0px 40px;
      &-name{
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }
      &-edit-btn{
        color: $light_blue;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid $light_blue;
        float: right;
      }
    }
    &--members{
      color: #999;
      font-size: 12px;
      margin: 85px 40px;
    }
  }
  &__body{
    height: calc( 100% - 100px - 90px );
    overflow-y: scroll;
    &--messages-list{
      padding-top: 46px;
      padding-left: 40px;
      &-name{
        color: #434A54;
        font-size: 16px;
        font-weight: bold;
        float: left;
      }
      &-time{
        color: #999;
        font-size: 12px;
        padding: 0 10px 10px;
        float: left;
      }
      &-body{
        color: #434A54;
        clear: both;
      }
    }
  }
   &__bottom--form{
    background-color: #eee;
    position: absolute;
    height: 90px;
    width: 100%;
    bottom: -19px;
    &--textbox{
    height: 50px;
    width: calc(100vw - 500px);
    background-color:#fff;
    float: left;
    margin: 20px 0 20px 10px;
    color: gray;
    display: flex;
    align-items: center; /* 縦方向中央揃え */
    margin-left: 30px;
    line-height:45px;
   }
  & .icon{
    position: relative;
    left: -50px;
    top: 35px;
  }
  &-upload-icon{
    display: none;
  }
  &--group-edit-btn{
    height: 50px;
    width: 80px;
    margin: 0 0 20px 30px ;
    background-color: $light-blue;
    text-align: center;
    color: #fff;
    line-height: 50px;
    }
  }
}
