.chat-side{
  .user{background-color: #55acee;
    .user{
      .content{
        {}
      }
    }
  }}

  $mf_color : #ef7f1a;
#head{
  border: 1px solid $mf_color;
  .fuga{
    color: $mf_color;
  }
}

.text {
  color: red;
}

